/* Стили шапки сайта */
.header {
    position: fixed;
    top: 0;
    left: 0;
    /*шапка будет выше любых других элементов в проекте*/
    z-index: 1000;
    width: 100%;
    background-color: #333333;   
}

.main_nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none; /*убираем маркеры*/
}

.main_nav a {
    display: block;
    padding: 33px 25px;
    font-size: 14px;
    font-weight: 700;  /*  bold жирный текст*/
    text-decoration: none;   /*подчеркивание мигание перечеркивание и т.д.*/
    color: #fff;  /* цвет белый*/
    background-color: red;
}



